.remote-header {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: var(--color--dark-gray-minor);
  font-family: var(--font-family-primary);
}

.remote-main-nav {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.remote-main-nav a {
  margin: 0.5em;
  color: var(--color-secondary);
  font-size: 0.8em;
  font-weight: 900;
  text-decoration: none;
  justify-content: center;
}

.remote-main-nav a:hover {
  color: #000000;
}