.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}

.main-page {
  margin: 1rem;
  flex-grow: 1;
  width: 100%;
}

.main-header {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  background-color: black;
  color:#ffcc00;
  font-size: 2rem;
  text-transform: uppercase;
  border-bottom: 0.6rem solid #949494;
  box-sizing: border-box;
}

.subheader {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.main-footer {
  background-color: #000;
  color: #ffcc00;
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
  border-top: 5px solid #555555;
  height: 4rem;
  box-sizing: border-box;
}

.main-footer a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}

.main-footer  a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}