.list-grey {
  list-style: none;
  padding-left: 0;
}

.list-grey li {
  position: relative;
  padding-left: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  font-size: 0.9rem;
}

.list-grey li::before {
  content: '';
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 0.2rem;
  height: 0.2rem;
  background-color: var(--color-tertiary);
  border-radius: 50%;
}
